:root {
    --c-bg:             #222;
    --c-head:           #444;
    --c-text:           #fff;
    --c-border:         #666;
    --c-move:           rgba(125, 150, 255, .5);
    --c-canvas:         #000;
    --c-light:          #333;
    --c-lighter:        #444;
    --c-lightest:       #555;
    --c-button:         var(--c-light);
    --c-button-hover:   var(--c-lighter);
    --c-titlebar:       linear-gradient(to right, #648, #865);
    --c-hover:          rgba(255, 255, 255, .2);
    --c-overlay:        rgba(0, 0, 0, .7);

    --s-p-head:         20px;
    --s-border:         1px;
    --s-dragger:        6px;
    --s-corner:         10px;
    --s-remove:         40px;
    --s-pad:            10px;
    --s-titlebar:       25px;
    --s-select:         300px;
    --s-option:         30px;

    --trans:            .1s;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans.ttf);
}

* {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--c-bg);
    font-family: 'Open Sans';
    color: var(--c-text);
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

a-panel {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--c-bg);
}

a-cont {
    display: flex;
    width: 100%;
    height: 100%;
}

p-head {
    display: flex;
    background: var(--c-head);
    height: var(--s-p-head);
    align-content: center;
    justify-content: center;
    user-select: none;
    user-zoom: none;
    width: 100%;
    font-size: calc( var(--s-p-head) / 1.5 );
    border: var(--s-border) solid var(--c-border);
    border-style: inset;
}

a-dragger {
    display: block;
    background: #f00;
    padding: var(--s-dragger);
    margin: calc( 0px - var(--s-dragger) );
    opacity: 0;
    z-index: 5;
    user-select: none;
}

p-mover {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background: var(--c-move);
    border-radius: var(--s-corner);
    pointer-events: none;
    z-index: 10;
}

p-cont {
    display: block;
    border: var(--s-border) solid var(--c-border);
    border-style: inset;
    display: block;
    width: calc( 100% - var(--s-pad) * 2 );
    height: calc( 100% - var(--s-p-head) - var(--s-pad) * 2 );
    padding: var(--s-pad);
    overflow-y: auto;
    overflow-x: hidden;
}

re-pos {
    position: absolute;
    width: var(--s-remove);
    height: var(--s-remove);
    background: var(--c-move);
    z-index: 20;
    opacity: 0.2;
}

re-pos:hover {
    opacity: 1;
}

p-mover + main a-panel:hover {
    background: var(--c-move);
}

button {
    background-color: var(--c-button);
    border: none;
    padding: calc( var(--s-pad) / 1.5 );
    padding-left: var(--s-pad);
    padding-right: var(--s-pad);
    color: var(--c-text);
    font-family: "Open Sans";
    transition-duration: var(--trans);
    cursor: pointer;
}

button:hover {
    background-color: var(--c-button-hover);
}

canvas {
    background-color: var(--c-canvas);
    width: 100%;

}

div {
    display: flex;
    flex-direction: column;
    transition-duration: var(--trans);
}

a-text {
    margin-top: var(--s-pad);
    display: block;
    padding: calc( var(--s-pad) / 2 );
    width: calc( 100% - var(--s-pad) * 4 );
    background: var(--c-light);
    border-radius: var(--s-corner);
    transition-duration: var(--trans);
}

a-text div * {
    margin-top: var(--s-pad);
    margin-right: var(--s-pad);
}

a-text a-title {
    margin-top: 0px;
    display: block;
    padding: calc( var(--s-pad) / 2 );
    font-size: 75%;
    width: calc( 100% - var(--s-pad) * 4 );
    background: var(--c-light);
    border-radius: var(--s-corner);
    transition-duration: var(--trans);
    user-select: none;
    cursor: pointer;
}

a-text a-title:hover {
    background-color: var(--c-lighter);
}

input {
    background-color: var(--c-lighter);
    transition-duration: var(--trans);
    padding: var(--s-pad);
    border: none;
    border-radius: var(--s-corner);
    color: var(--c-text);
    font-family: 'Open Sans';
}

input:hover {
    background-color: var(--c-lightest);
}

input::placeholder {
    color: var(--c-text);
    opacity: 0.5;
}

.close-button {
    background-color: rgba(0,0,0,0);
    border-radius: 100%;
    float: right;
    padding: calc( var(--s-pad) / 2 );
    opacity: .4;
    margin-right: 0px;
    font-size: 75%;
}

.close-button:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0);
}

a-titlebar {
	-webkit-user-select: none;
    -webkit-app-region: drag;
    height: var(--s-titlebar);
    min-height: var(--s-titlebar);
    width: 100%;
    font-size: calc( var(--s-titlebar) / 2 );
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: var(--c-titlebar);
}

a-titlebar button {
    -webkit-app-region: no-drag;
    -webkit-user-select: initial;
    height: var(--s-titlebar);
    width: var(--s-titlebar);
    background: rgba(0,0,0,0);
    font-size: calc( var(--s-titlebar) / 3 );
    padding: 0px;
    position: absolute;
    left: calc( 100% - var(--s-titlebar) );
}

a-titlebar button:hover {
    background: var(--c-hover);
}

f-sel {
    margin-top: var(--s-pad);
    display: block;
    padding: calc( var(--s-pad) );
    background: var(--c-light);
    border-radius: var(--s-corner);
    transition-duration: var(--trans);
    height: var(--s-select);
    overflow-y: auto;
    overflow-x: hidden;
}

f-opt {
    display: flex;
    flex-direction: row;
    padding: calc( var(--s-pad) );
    height: var(--s-option);
    border-radius: var(--s-corner);
    background: rgba(0,0,0,0);
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

f-emp {
    display: flex;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, .4);
    align-items: center;
    justify-content: center;
}

f-opt:hover {
    background: var(--c-lighter);
}

f-opt button {
    float: right;
    align-self: flex-end;
    background: rgba(0,0,0,0);
    width: var(--s-option);
    height: var(--s-option);
    padding: 0px;
    border-radius: 100%;
    opacity: 0;
    font-size: calc( var(--s-option) / 1.5 );
}

f-opt:hover button {
    opacity: 1;
}

f-opt button:hover {
    background: var(--c-hover);
}

a-events {
    margin-top: calc( var(--s-pad) * 4 );
    display: block;
    padding: calc( var(--s-pad) / 2 );
    width: calc( 100% - var(--s-pad) );
    background: var(--c-bg);
    border-radius: var(--s-corner);
    transition-duration: var(--trans);
}

a-events a-title {
    margin-top: 0px;
    width: calc( 100% - var(--s-pad) * 7 );
    display: inline-block;
    padding-left: var(--s-pad);
}

a-events button:not(.b-light) {
    display: block;
    background: rgba(0,0,0,0);
    margin-top: 0px;
    float: right;
    opacity: .5;
    padding: 0px;
    font-size: calc( var(--s-pad) * 2 );
}

a-events button:not(.b-light):hover {
    opacity: 1;
    background: rgba(0,0,0,0);
}

#div-texts {
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

a-event {
    display: block;
    padding: var(--s-pad);
    border-radius: var(--s-corner);
    background: var(--c-light);
}

a-event a-title {
    background: var(--c-lighter);
}

a-event a-title:hover {
    background: var(--c-lightest);
}

a-event button:not(.b-light) {
    font-size: calc( var(--s-pad) * 1.5 );
}

button.b-light {
    background: var(--c-lighter);
}

button.b-light:hover {
    background: var(--c-lightest);
}

p-buff {
    width: calc( var(--s-pad) * 2 );
    height: var(--s-pad);
    display: inline-block;
}

#overlay {
    width: 100%;
    height: calc( 100% - var(--s-titlebar) );
    top: var(--s-titlebar);
    left: 0px;
    position: absolute;
    display: none;
    background-color: var(--c-overlay);
    z-index: 50;
}

#overlay[show] {
    display: initial;
}

#overlay-window {
    width: 400px;
    height: 300px;
    display: block;
    position: absolute;
    background-color: var(--c-bg);
    top: 50%;
    left: 50%;
    z-index: 51;
}

#overlay-title {
    cursor: move;
    border: none;
}

#overlay-title text {
    pointer-events: none;
}

#overlay-content {
    border: none;
}

#overlay-title button {
    float: right;
    height: var(--s-p-head);
    width: var(--s-p-head);
    font-size: calc( var(--s-p-head) / 1.6 );
    padding: 0px;
    position: absolute;
    margin-left: auto;
    right: 0px;
    margin-right: 0px;
}