:root {
    --c-bg:             #222;
    --c-head:           #444;
    --c-text:           #fff;
    --c-border:         #666;
    --c-move:           rgba(125, 150, 255, .5);
    --c-button:         #777;
    --c-button-hover:   #aaa;
    --c-canvas:         #000;
    --c-light:          #333;
    --c-lighter:        #444;
    --c-lightest:       #555;

    --s-p-head:         20px;
    --s-border:         1px;
    --s-dragger:        6px;
    --s-corner:         10px;
    --s-remove:         40px;
    --s-pad:            10px;

    --trans:            .1s;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans.ttf);
}

* {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--c-bg);
    font-family: 'Open Sans';
    color: var(--c-text);
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

a-panel {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--c-bg);
}

a-cont {
    display: flex;
    width: 100%;
    height: 100%;
}

p-head {
    display: flex;
    background: var(--c-head);
    height: var(--s-p-head);
    align-content: center;
    justify-content: center;
    user-select: none;
    user-zoom: none;
    width: 100%;
    font-size: calc( var(--s-p-head) / 1.5 );
    border: var(--s-border) solid var(--c-border);
    border-style: inset;
}

a-dragger {
    display: block;
    background: #f00;
    padding: var(--s-dragger);
    margin: calc( 0px - var(--s-dragger) );
    opacity: 0;
    z-index: 5;
    user-select: none;
}

p-mover {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background: var(--c-move);
    border-radius: var(--s-corner);
    pointer-events: none;
    z-index: 10;
}

p-cont {
    display: block;
    border: var(--s-border) solid var(--c-border);
    border-style: inset;
    display: block;
    width: calc( 100% - var(--s-pad) * 2 );
    height: calc( 100% - var(--s-p-head) - var(--s-pad) * 2 );
    padding: var(--s-pad);
    overflow-y: auto;
    overflow-x: hidden;
}

re-pos {
    position: absolute;
    width: var(--s-remove);
    height: var(--s-remove);
    background: var(--c-move);
    z-index: 20;
    opacity: 0.2;
}

re-pos:hover {
    opacity: 1;
}

p-mover + main a-panel:hover {
    background: var(--c-move);
}

button {
    background-color: var(--c-button);
    border: none;
    padding: calc( var(--s-pad) / 1.5 );
    padding-left: var(--s-pad);
    padding-right: var(--s-pad);
    color: var(--c-text);
    font-family: "Open Sans";
    transition-duration: var(--trans);
}

button:hover {
    background-color: var(--c-button-hover);
}

canvas {
    background-color: var(--c-canvas);
}

div {
    display: flex;
    flex-direction: column;
    transition-duration: var(--trans);
}

a-text {
    margin-top: var(--s-pad);
    display: block;
    padding: var(--s-pad);
    width: calc( 100% - var(--s-pad) * 4 );
    background: var(--c-light);
    border-radius: var(--s-corner);
    transition-duration: var(--trans);
}

a-text div * {
    margin-top: var(--s-pad);
    margin-right: var(--s-pad);
}

a-text a-title {
    margin-top: 0px;
    display: block;
    padding: var(--s-pad);
    width: calc( 100% - var(--s-pad) * 8 );
    background: var(--c-light);
    border-radius: var(--s-corner);
    transition-duration: var(--trans);
    user-select: none;
    cursor: pointer;
}

a-text a-title:hover {
    background-color: var(--c-lighter);
}

input {
    background-color: var(--c-lighter);
    transition-duration: var(--trans);
    padding: var(--s-pad);
    border: none;
    border-radius: var(--s-corner);
    color: var(--c-text);
    font-family: 'Open Sans';
}

input:hover {
    background-color: var(--c-lightest);
}

input::placeholder {
    color: var(--c-text);
    opacity: 0.5;
}

.close-button {
    background-color: rgba(0,0,0,0);
    border-radius: 100%;
    float: right;
    margin-right: 0px;
}

.close-button:hover {
    background-color: var(--c-button);
}

input.small {
    width: 20px;
}